<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797493748621-67i2qql7i50t3ah78n0svd87oak7qlj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797493748621-67i2qql7i50t3ah78n0svd87oak7qlj7</string>
	<key>API_KEY</key>
	<string>AIzaSyAiuYmH0jmMQfRhwQiHphERQEh8ziS322o</string>
	<key>GCM_SENDER_ID</key>
	<string>797493748621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanakhreader</string>
	<key>PROJECT_ID</key>
	<string>tanakh-reader</string>
	<key>STORAGE_BUCKET</key>
	<string>tanakh-reader.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797493748621:ios:adb5b185f82f7c74b453c4</string>
	<key>DATABASE_URL</key>
	<string>https://tanakh-reader-default-rtdb.firebaseio.com</string>
</dict>
</plist>